.DS_Store
.omo
.vscode
.next
.vercel
node_modules
build
dist / media
backups
.env
.env.production

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
